<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>View with and without related and Prefetch</title>
</head>
<body>
    <h1>View without related:</h1>
   
    <p>Time without related and Prefetch: {{ without_optimize_time }} seconds</p>
    <p>Time with related : {{ with_select_optimize_time }} seconds</p>
    <p>Time with Prefetch: {{ with_prefetch_optimize_time }} seconds</p>
    <p>Time with related and Prefetch: {{ with_perfect_and_related_time }} seconds</p>
</body>
</html>

